/* General */

body {
    background: #FFFFFF;
    color: #333333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;

}

.divCenter {
    margin: 10em;
}

.font {
    font-family: Arial, sans-serif;
    font-size: 1.5em ;
}

/* Header */

header {
    top: 0;
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
}

.site-title {
    margin: 0;
    font-size: 2em;
    color: #004080;
    padding-left: 5vw;
    flex-grow: 1; /* Añadido para ocupar el espacio restante */
    text-align: center;
}

.nav-menu {
    margin-right: 5vw;
}

header nav {
    display: flex;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-left: 3vw;
    font-size: 1em;
}

header ul li a {
    text-decoration: none;
    color: #004080;
    font-size: 1em;
}

/* Menu Toggle */

.menu-toggle {
    display: none; /* Oculta el botón en pantallas grandes */
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em; /* Ajusta el tamaño de la fuente */
    padding: 0.5em; /* Añade padding para área de clic más grande */
    color: #004080; /* Color del ícono */
}

.menu-toggle::after {
    content: " ☰ "; /* Ícono del menú hamburguesa */
}

/* Settings */

.settings-toggle {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 2em;
    padding: 1vh 2vw;
    cursor: pointer;
    color: #004080;
}

.settings-toggle::after {
    content: '⚙️';
}

.settings-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vh 2vw;
    background-color: transparent;
    border-radius: 0.5em;
}

.settings-container.active {
    display: flex;
}

/* Language */

.language-darkmode-container {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.language-toggle {
    border: none;
    background-color: transparent;
    font-size: 1em;
    padding: 1vh 2vw;
    cursor: pointer;
    color: #004080;
    margin-left: 2vw;
}

.language-menu {
    position: relative;
}

.language-menu > div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #004080; /* Fondo de idioma */
    padding: 1vh;
    border-radius: 0.5em;
    color: #FFFFFF; /* Asegúrate de que el color de texto sea blanco */
}

.language-menu.active > div {
    display: block;
}

.language-menu button {
    display: block;
    background: none;
    border: none;
    padding: 1vh 2vw;
    text-align: left;
    cursor: pointer;
}

#language-button {
    padding: 1vh 2vw;
    color: #004080;
}

.language-button {
    color: #FFFFFF; /* Cambio de color del texto */
    padding: 5px 10px; /* Ajusta el padding según el diseño */
    cursor: pointer; /* Cambia el cursor a pointer para indicar que son clickeables */
    margin-right: 5px; /* Añade margen derecho para separar los botones */
    font-size: 1em;
}

/* Footer */
footer {
    background: #F0F0F0;
    color: #333333;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    justify-content: center;
    padding: 1vh 0;
    font-size: 1em;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-icon img {
    width: 100%;
    height: 100%;
}



/* Dark Mode */

.darkMode {
    border: none;
    padding: 5px 10px;
    color: #004080;
    margin-left: 2vw; /* Ajustado para separación */
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
}

.darkMode::after {
    content: "🌙";
}

.dark-mode {


}

.dark-mode .darkMode::after {
    content: "💡";
}

body.dark-mode {
    background: #333333;
    color: #FFFFFF;
}

header.dark-mode, footer.dark-mode {
    background: #2C2C2C;
    color: #FFFFFF;
}

header.dark-mode ul li a {
    color: #FFFFFF;
}

.language-darkmode-container .darkMode.dark-mode {
    background-color: #555555;
    color: #FFFFFF;
}


.dark-mode .about-me-section {
    color: white;
}



/* Dark mode skills */

.dark-mode .skills-section{
    background-color: black;
}

.dark-mode .skills-item{
    color: rgb(200, 200, 200);
}


/* Dark mode experience */
.dark-mode .experience-item {
    background-color: #2E2E2E; /* Gris oscuro para el fondo */
    color: #C0C0C0; /* Gris plateado para el texto */
}

.dark-mode .experience-item h3,
.dark-mode .experience-item p,
.dark-mode .experience-item ul li {
    color: #C0C0C0; /* Gris plateado para el texto */
}

.dark-mode #experience h2 {
    color: #E0E0E0; /* Gris claro para el texto */
}

.dark-mode .settings-modal {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad para difuminar */
}

.dark-mode .settings-modal-content {
    background-color: #2C2C2C; /* Fondo del contenido del modal en modo oscuro */
    color: #FFFFFF; /* Color del texto dentro del modal */
    border: 1px solid #888; /* Borde opcional */
}

/* About Me */

.about-me-section {
    border-radius: 8px;
    color: #333333;
    margin: 5em auto;
}

.profile-photo {
    width: 30em;
    height: 30em;
    border-radius: 50%;
    display: block;
    margin: 2em auto;
}

/* Certificates */

.certificates-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.certificate {
    background: #F9F9F9;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
}

.certificate img {
    width: 100%;
    height: auto;
}

.certificate-details {
    padding: 15px;
}

.certificate-details h3 {
    margin: 0;
    font-size: 1.2em;
    color: #004080;
}

.certificate-details p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

.certificate-details span {
    font-weight: bold;
}

.certificate a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #004080;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.certificate a:hover {
    background-color: red;
}

/* Sobre mi */

/* Contenedor de la sección de habilidades */
.skills-section {
    padding: 2em;
    margin: 2em 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Título principal de la sección */
.skills-title {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #004080;
}

/* Subtítulos de categorías */
.skills-category {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: #004080;
}

/* Lista de habilidades */
.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Elementos de la lista de habilidades */
.skills-item {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}

/* Eliminar borde inferior del último elemento */
.skills-item:last-child {
    border-bottom: none;
}

/* Experiencia Laboral */
#experience {
    margin: 2em auto;
    padding: 1em;
    max-width: 800px; /* Ajusta el ancho máximo para pantallas grandes */
}

#experience h2 {
    font-size: 2em;
    color: #004080;
    margin-bottom: 1em;
}

.experience-item {
    background-color: rgba(255, 255, 255, 0.9); /* Blanco ligeramente opaco */
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.experience-item h3 {
    font-size: 1.5em;
    color: #004080;
    margin: 0 0 0.5em 0;
}

.experience-item p {
    margin: 0 0 1em 0;
    font-size: 1em;
    color: #333333; /* Texto principal */
}

.experience-item ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 1.5em; /* Indentación para listas */
}

.experience-item ul li {
    margin-bottom: 0.5em;
    font-size: 1em;
    color: #333333;
}


/* Modal */

.settings-modal {
    display: none; /* Oculta por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
}

.settings-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; /* Tamaño máximo */
    border-radius: 8px;
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries para Dispositivos Móviles */

@media (max-width: 1100px) {
    body {
        flex-direction: column;
    }

    .divCenter {
        width: 90%;
        margin: 20% auto;
    }

    .font {
        font-size: 4em;
    }

    /* Header */

    header {
        flex-direction: row; /* Cambia a fila para alinear horizontalmente */
        justify-content: space-between; /* Distribuye espacio entre los elementos */
        align-items: center; /* Alinea verticalmente al centro */
        padding: 1vh 2vw; /* Ajusta el padding según sea necesario */
    }

    .site-title {
        flex-grow: 1; /* Permite que el título ocupe el espacio restante */
        text-align: center; /* Centra el texto del título */
        order: 2; /* Segundo en el orden */
    }

    header .nav-menu {
        margin-right: 2vw;
        transform: translateX(-100%);
        transition: opacity 0.5s, transform 0.5s ease-in-out;
        position: fixed;
        top: 15vh;
        left: -1em;
        height: calc(100vh - 10vh);
        background-color: #004080;
        width: 40%;
        z-index: 1000;
        opacity: 0;
        padding: 20px;
        border-radius: 1em;


        font-size: 1vw;
    }

    .nav-menu.active {
        transform: translateX(0);
        opacity: 1;
    }

    .nav-menu.no-transition {
        transition: none;
    }

    header ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    header ul li {
        width: 100%;
        margin: 1vh 0;
    }

    header ul li a {
        width: 100%;
        padding: 1vh 2vw;
        text-align: left;
        color: #FFFFFF;
        font-size: 1em;
    }

    .menu-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw; /* Espacio entre los botones */
        flex-direction: column;
    }

    .menu-toggle {
        display: block; /* Muestra el botón en pantallas pequeñas */
        order: 1; /* Primero en el orden */
        position: static; /* Coloca en el flujo normal */
    }

    .language-toggle,
    .darkMode {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 2em;
        padding: 1vh 2vw;
        cursor: pointer;
        color: #004080;
    }

    .menu-toggle::after {
        content: " ☰ ";
    }

    footer {
        padding: 2vh 0;
        font-size: 0.9em;
    }

    .language-menu {
        position: static;
        width: auto;
    }

    .language-menu.active > div {
        display: block;
    }

    .language-menu > div {
        position: absolute;
        top: 11em;
        left: 2vw;
        color: #FFFFFF;
        padding: 1vh;
        border-radius: 0.5em;
        width: auto;
    }

    .language-menu > .content-language {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #004080;
        padding: 1em;
        border-radius: 0.5em;
        color: #FFFFFF;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        width: 80px; /* Ajusta este valor según tus necesidades */
    }

    .language-menu.active > .content-language {
        opacity: 1;
        transform: translateX(0);
    }

    /* Settings */
    .settings-toggle {
        position: static; /* Cambia la posición para el flujo normal */
        order: 3; /* Tercero en el orden */
    }

    /* Footer */
    footer {
        padding: 1vh 0;
        font-size: 1em;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .social-icon {
        display: inline-block;
        width: 7em;
        height: 7em;
    }

    /* Index */

    .content-principal {
        text-align: center;
        font-size: 3em;
    }

    /* Certificados */

    #certifications {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 10vw; /* Ajusta el padding según sea necesario */
        margin-top: 10vh; /* Ajusta el margen superior según sea necesario */
        margin-bottom: 10vh;
    }

    .certificates-container {
        flex-direction: column; /* Asegura que los certificados estén en columna */
        align-items: center; /* Centra los certificados horizontalmente */
        padding: 0; /* Elimina el padding para un mejor ajuste */
        margin-top: 2em; /* Ajusta el margen superior según sea necesario */
        margin-bottom: 4em ;
    }

    .certificate {
        width: 80%; /* Ajusta el ancho del contenedor de certificado al 100% */
        max-width: 100%; /* Asegura que el certificado no exceda el ancho máximo */
    }

    .certificate a {
        padding: 1em;
        font-size: 3vw;
    }

    /* Skills */
    .skills-section {
        padding: 1em;
    }

    .skills-title {
        font-size: 1.8em;
    }

    .skills-category {
        font-size: 1.3em;
    }

    .skills-item {
        font-size: 1em;
    }


    /* Experiencia laboral*/

    #experience {
        padding: 0.5em;
        margin: 1em auto;
        max-width: 100%; /* Ajusta el ancho para pantallas pequeñas */
    }

    #experience h2 {
        font-size: 1.5em;
    }

    .experience-item {
        padding: 0.5em;
    }

    .experience-item h3 {
        font-size: 1.2em;
    }

    .experience-item p,
    .experience-item ul li {
        font-size: 0.9em;
    }

}
