body {
    background: #FFFFFF;
    color: #333333;
    margin: 0;
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20vh);
    flex-direction: column;
    transition: 2s;
}

.divCenter {
    margin: 10em;
}

header {
    top: 0;
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    font-size: 1em;
}

header .site-title {
    margin: 0;
    font-size: 2em;
    color: #004080;
    padding-left: 5vw;
    flex-grow: 1; /* Añadido para ocupar el espacio restante */
    text-align: center;
}

header .nav-menu {
    margin-right: 5vw;
}

header nav {
    display: flex;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-left: 3vw;
    font-size: 1em;
}

header ul li a {
    text-decoration: none;
    color: #004080;
    font-size: 1em;
}

header ul li a:hover {
    background-color: #A8D5BA;
    transition: background-color 0.3s ease;
}

.menu-toggle {
    display: none;
}

footer {
    background: #F0F0F0;
    color: #333333;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    justify-content: center;
    padding: 1vh 0;
    font-size: 0.5em;
}

.font {
    font-family: Arial, sans-serif;
}

.language-darkmode-container {
    display: flex;
    align-items: center;
}

.language-toggle {
    border: none;
    background-color: transparent;
    font-size: 1em;
    padding: 1vh 2vw;
    cursor: pointer;
    color: #004080;
    margin-left: 2vw;
}

.language-menu {
    position: relative;
}

.language-menu > div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #004080; /* Fondo de idioma */
    padding: 1vh;
    border-radius: 0.5em;
    color: #FFFFFF; /* Asegúrate de que el color de texto sea blanco */
}

.language-menu.active > div {
    display: block;
}

.language-menu button {
    display: block;
    background: none;
    border: none;
    padding: 1vh 2vw;
    text-align: left;
    cursor: pointer;
}

#language-button {
    padding: 1vh 2vw;
    color: #004080;
}

.language-button {
    color: #FFFFFF; /* Cambio de color del texto */
    padding: 5px 10px; /* Ajusta el padding según el diseño */
    cursor: pointer; /* Cambia el cursor a pointer para indicar que son clickeables */
    margin-right: 5px; /* Añade margen derecho para separar los botones */
}

.language-menu button:hover {
    background-color: #A8D5BA;
    transition: background-color 0.3s ease;
}

.darkMode {
    border: none;
    padding: 5px 10px;
    color: #004080;
    margin-left: 2vw; /* Ajustado para separación */
    background-color: transparent;
    cursor: pointer;
}

.darkMode::after{
    content: "🌙";
}

.darkMode:hover {
    background-color: green;
    transition: background-color 0.3s ease;
}



/* Modo Oscuro */


.dark-mode{
    transition: 2s;
}

.dark-mode .darkMode::after{
    content: "💡";
}

body.dark-mode {
    background: #333333;
    color: #FFFFFF;
}

header.dark-mode, footer.dark-mode {
    background: #2C2C2C;
    color: #FFFFFF;
}

header.dark-mode ul li a {
    color: #FFFFFF;
}

header.dark-mode ul li a:hover {
    background-color: #A8D5BA;
}

.language-darkmode-container .darkMode.dark-mode {
    background-color: #555555;
    color: #FFFFFF;
}





/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    body {
        padding: 5vh 0;
        flex-direction: column;
    }

    .divCenter {
        margin: 5em;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 1vh 0;
    }

    header .site-title {
        padding-left: 2vw;
    }

    header .nav-menu {
        margin-right: 2vw;
        transform: translateX(-100%);
        transition: opacity 0.5s, transform 0.5s ease-in-out;
        position: fixed;
        top: 15vh;
        left: -1em;
        height: calc(100vh - 10vh);
        background-color: #004080;
        width: 40%;
        z-index: 1000;
        opacity: 0;
        padding: 20px;
        border-radius: 1em;
    }

    .nav-menu.active {
        transform: translateX(0);
        opacity: 1;
    }

    .nav-menu.no-transition {
        transition: none;
    }

    header ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    header ul li {
        width: 100%;
        margin: 1vh 0;
    }

    header ul li a {
        width: 100%;
        padding: 1vh 2vw;
        text-align: left;
        color: #FFFFFF;
    }

    header ul li a:hover {
        background-color: #A8D5BA;
        transition: background-color 0.3s ease;
    }

    .menu-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw; /* Espacio entre los botones */
        flex-direction: column;
    }

    .menu-toggle,
    .language-toggle,
    .darkMode {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1em;
        padding: 1vh 2vw;
        cursor: pointer;
        color: #004080;
        margin: 0.5vh 2vw;
    }

    .menu-toggle:hover {
        background: #A8D5BA;
        transition: background-color 0.3s ease;
    }

    footer {
        padding: 2vh 0;
    }

    .language-menu {
        position: static;
        width: auto;
    }

    .language-menu.active > div {
        display: block;
    }

    .language-menu > div {
        position: absolute;
        top: 11em;
        left: 2vw;
        color: #FFFFFF;
        padding: 1vh;
        border-radius: 0.5em;
        width: auto;
    }

    .language-menu > .content-language {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #004080;
        padding: 1em;
        border-radius: 0.5em;
        color: #FFFFFF;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
        width: 80px; /* Ajusta este valor según tus necesidades */
    }

    .language-menu.active > .content-language {
        opacity: 1;
        transform: translateX(0);
    }

    .language-menu button:hover {
        background-color: #A8D5BA;
        transition: background-color 0.3s ease;
    }




    /* Modo Oscuro */




}
